section {
    font-family: 'Montserrat', serif;
    text-align: justify;
}

.paragraph-list-item {
    margin-bottom: 12px;
}

.education-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.education-details {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.degree,
.timeline {
    font-weight: 900;
    text-transform: capitalize;
}

.timeline {
    font-size: 12px;
    margin-left: 24px;
    text-align: right;
    width: 150px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.skill-item {
    width: 150px;
}